<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <title>Real Time Chatting</title>
    {% include 'css.html' %}
    <script src="https://kit.fontawesome.com/debdddf209.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Chat System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'chat:online' %}">Online Users</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              
              <li><a href="{% url 'logout' %}"> logout  </a></li>
              <li><a> Welcome: {{user.get_username}} </a></li>
              {% else %}
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>


<div class='container'>
    <div class='row border-bottom my-3 py-3'>
        <div class='col'>
            <h1 class='p-0 m-0'>Real Time Chatting</h1>
        </div>
    </div>
{% block content %}
{% endblock %}
</div>


{% include 'js.html' %}
{% block script %}
{% endblock %}

</body>
</html>
